* {
    box-sizing: border-box;
}

.Main-Container {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    background-color: aqua;
}

header {
    flex: 1 1 500px;
    height: fit-content;
    background-color: brown;
}

.HTML5-Section {
    flex: 1 1 500px;
    height: fit-content;
    background-color: aquamarine;
}

.JavaScript-Section {
    flex: 1 1 500px;
    height: fit-content;
    background-color: rgb(223, 225, 91);
}

h1, header {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 100;
}


ul, a {
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}